<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>
<div class="container">
    <h1 class="page-title">CineMart</h1>
    <% if (user) { %>
        <form action="/results" method="get" class="search-form">
            <label for="dbselect" class="form-label">Select a database:</label>
            <select name="dbselect" id="dbselect" class="form-select">
                <option value="mongo">MongoDB</option>
                <option value="postgres">PostgreSQL</option>
                <option value="both">Both</option>
            </select>
            <label for="query" class="form-label">Enter search query:</label>
            <input type="text" name="query" id="query" class="form-input">
            <br>
            <input type="submit" value="Submit" class="form-button">
        </form>
    <% } %>
</div>
</body>
</html>
