<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>
        <h1><%= pageTitle %></h1>
        <% if (user) { %>
        <form action="/results" method="get">
            <label for="dbselect">Select a database:</label>
            <select name="dbselect" id="dbselect">
                <option value="mongo">MongoDB</option>
                <option value="postgres">PostgreSQL</option>
                <option value="both">Both</option>
            </select>
            <label for="query">Enter search query:</label>
            <input type="text" name="query" id="query">
            <br>
            <input type="submit" value="Submit">
        </form>
        <% } %>

    </body>
</html>