<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>
    <h1><%= pageTitle %></h1>
    <% if (message !== '' ) { %>
        <p><%= message %></p>
    <% } %>
    <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <label for="email">Email Address:</label>
        <input type="email" name="email" id="email" required>
        <br>
        <input type="submit" value="Register">
    </form>
</body>
</html>